/* .Letters {
	 animation: kaboom 5s ease alternate infinite;
}
 .Letters:nth-child(2) {
	 animation-delay: 0.1s;
}
 .Letters:nth-child(3) {
	 animation-delay: 0.2s;
}
 .Letters:nth-child(4) {
	 animation-delay: 0.3s;
}
 .Letters:nth-child(5) {
	 animation-delay: 0.4s;
}
 @keyframes kaboom {
	 90% {
		 transform: scale(1);
	}
	 100% {
		 transform: scale(1.1);
	}
}
  */