version: '3.7'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: /usr/src/app/entrypoint.sh
    volumes:
      - ./backend/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env.dev
    depends_on:
      - db
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm start
    volumes:
      - ./frontend/:/app/
    ports:
      - 3000:3000
    stdin_open: true
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    volumes:
      - ./frontend/:/app/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

volumes:
  postgres_data: