.Container {
    display: none;
    flex-wrap: wrap;
}

.Break {
    flex-basis: 100%;
    height: 0;
}

@media (min-width:500px ) and (min-height:500px) {
    .Container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 77px;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    border-bottom: 4px solid whitesmoke;
}
    .Subtext {
        width: 253.154px;
        text-align: justify;
        text-indent: 13px;
        margin:10px;
        font-style: italic;
        
    }

}